@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="UserProfile" asp-action="Index">Hello @(User.Identity.Name)!</a></li>
        <li><a asp-controller="Account" asp-action="SignOut">Sign Out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="SignUp">Sign Up </a></li>
        <li><a asp-controller="Account" asp-action="SignIn">Sign In</a></li>
    </ul>
}